:root{
    --width: 800px;
    --height: 300px;
    --unpressed: #555;
    --pressed: #ddd;
    --button-size: 120px;
    --dpad-length: 90px;
    --dpad-width: 80px;
    --dpad-border-radius: 10px;
}

.controller.custom{
    width: var(--width);
    height: var(--height);
}

/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 200px;
    height: 36px;
    bottom: 40px;
    left: 300px;
}
/* Setting the size and CSS sprite for the start and select buttons */
.custom .back, .custom .start{
    border: none;
    border-radius: 18px;
    height: 100%;
    width: 90px;
    background-color: var(--unpressed);
}
.custom .back.pressed, .custom .start.pressed{
    background-color: var(--pressed);
}
.custom .back{
    float: left;
}
.custom .start{
    float: right;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 260px;
    height: 160px;
    top: 60px;
    right: 20px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:var(--button-size);
    height:var(--button-size);
    border-radius: 100%;
    background-color: var(--unpressed);
}
.custom .button.pressed{
    background-color: var(--pressed)
}
.custom .a{
    bottom: 0px;
    left: 0;
}
.custom .a::before {
    content: '';
    color: #888;
    font-size: 50px;
    position: absolute;
    left: 35px;
    top: 22px;
}
.custom .b{
    top: 0px;
    right: 0px;
}
.custom .b::before {
    content: '';
    color: #888;
    font-size: 50px;
    position: absolute;
    left: 35px;
    top: 22px;
}
.custom .x{
    display: none;
}
.custom .y{
    display: none;
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: calc(calc(var(--dpad-length) * 2) + var(--dpad-width));
    height: calc(calc(var(--dpad-length) * 2) + var(--dpad-width));
    top: 20px;
    left: 20px;
}
.custom .face{
    position: absolute;
    background-color: var(--unpressed)
}
.custom .face.up, .custom .face.down{
    width: var(--dpad-width);
    height: var(--dpad-length);
    left: var(--dpad-length);
}
.custom .face.left, .custom .face.right{
    width: var(--dpad-length);
    height: var(--dpad-width);
    top: var(--dpad-length);
}

.custom .face:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.custom .face.up:before {
    top: 100%;
    left: 0;
    border-left: calc(var(--dpad-width) / 2) solid transparent;
    border-top: calc(var(--dpad-width) / 2) solid var(--unpressed);
    border-right: calc(var(--dpad-width) / 2) solid transparent;
}

.custom .face.up.pressed:before {
    border-top: calc(var(--dpad-width) / 2) solid var(--pressed);
}

.custom .face.down:before {
    bottom: 100%;
    left: 0;
    border-left: calc(var(--dpad-width) / 2) solid transparent;
    border-bottom: calc(var(--dpad-width) / 2) solid var(--unpressed);
    border-right: calc(var(--dpad-width) / 2) solid transparent;
}

.custom .face.down.pressed:before {
    border-bottom: calc(var(--dpad-width) / 2) solid var(--pressed);
}

.custom .face.left:before {
    top: 0;
    left: 100%;
    border-top: calc(var(--dpad-width) / 2) solid transparent;
    border-left: calc(var(--dpad-width) / 2) solid var(--unpressed);
    border-bottom: calc(var(--dpad-width) / 2) solid transparent;
}

.custom .face.left.pressed:before {
    border-left: calc(var(--dpad-width) / 2) solid var(--pressed);
}

.custom .face.right:before {
    top: 0;
    right: 100%;
    border-top: calc(var(--dpad-width) / 2) solid transparent;
    border-right: calc(var(--dpad-width) / 2) solid var(--unpressed);
    border-bottom: calc(var(--dpad-width) / 2) solid transparent;
}

.custom .face.right.pressed:before {
    border-right: calc(var(--dpad-width) / 2) solid var(--pressed);
}

.custom .face.up{
    top: 0;
    border-radius: var(--dpad-border-radius) var(--dpad-border-radius) 0 0;
}

.custom .face.down{
    bottom: 0;
    border-radius: 0 0 var(--dpad-border-radius) var(--dpad-border-radius);
}
.custom .face.left{
    left: 0;
    border-radius: var(--dpad-border-radius) 0 0 var(--dpad-border-radius);
}
.custom .face.right{
    right: 0px;
    border-radius: 0 var(--dpad-border-radius) var(--dpad-border-radius) 0;
}
.custom .face.pressed{
    background-color: var(--pressed);
}
